

#collectionList{
  width:95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0 auto;
}

.colItem{
  width:280px;
  list-style-type: none;
  border-radius: 1em;
 margin-top: 2em;
  position: relative;
  flex-grow: 0.5;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .captionContainer {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #faf7eb;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .card img {
    border-radius: 0.4em 0.4em 0 0;
  }

  .addWLbtn {
    padding: 0.5em;
    margin-bottom: 0%;
    width: 100%;
    background-color: #baffba;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: #000;
    border-radius:0 0 0.4em 0.4em;
  }

  .removeWLbtn {
    padding: 0.5em;
    margin-bottom: 0%;
    width: 100%;
    background-color: #a6aaad;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: #fff;
    border-radius:0 0 0.4em 0.4em;
  }

  #searchButton {
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: #37393a;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: #fff;
    border-radius:0.4em 0.4em 0.4em 0.4em;
  }

  #divSearchBar{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    margin-right: 12%;
  }
  
#searchBar{
    padding: .5em;
   width: 100%;
    margin-right: 1em;
    font-size: 1em;
}
#searchWishListInput{
  padding: .5em;
 width: 100%;
  margin-right: 1em;
  font-size: 1em;
}

#searchWishListButton {
  padding: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  background-color: #37393a;
  border-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 1.1em;
  color: #fff;
  border-radius:0.4em 0.4em 0.4em 0.4em;
}

