

#collectionList{
    margin: 0 calc(10px * -1 + 1px);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: normal;
}

.colItem{
    width: calc(100% / 4 + 0px);
    padding: 10px;
    display: flex;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .captionContainer {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .card img {
    border-radius: 5px 5px 0 0;
  }