#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.containg {
position: relative;
text-align: center;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 3em;
font-weight: bold;
}

.welcome {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.content {   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2em;
}
*{
    box-sizing: border-box;
}

.box {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 0em;
}

.cage{
    top: 50%;
}

.content h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2.5em;
    margin-bottom: 0;
    background-color: #ddd;
    color: #fff;
}
.content p {
    
    width: 100%;
    text-align: center;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    line-height: 2em;
    padding-bottom: 5%;
}

.content img {
   
    width: 100%;
    padding-bottom: 0;
}

header {
    margin-top: .1em;
    text-align: center;
    border-radius: 0%;
    margin-bottom: 0em;
    border-bottom: 0.1em solid #000;
    background-image: linear-gradient(to right, #000000,#1f1e1e, #434242,#1f1e1e, #000000);
}

footer {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
    clear: left;
    background-image: linear-gradient(to right, #000000,#1f1e1e, #232222,#1f1e1e,#000000);
}

.mobile{
    display: inline;
}

.desktop{
    display: none;
}
header h1{
    padding: 0px;
    margin: 0px;
    margin-bottom: .4em;
}

 /* sumit desai css */
body{
    
    background-color: #e2dede;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleContact{
    text-align: center;
}

.titleContact hr{
    margin-top: 2em;
}

/* -------------------------------contact us------------------------------------- */

.contactForm{
    width: 100%;
 
    
}



.formFields{
    margin-top: 2em;
    width: 100%;
}
#googleMap{
    width:100%;
    margin-top: 3em;
    
    height: 400px;
}
 
#method{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }

 #subject{
     height: 12em;
 }

 input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }

/* ----------------------------------Footer--------------------------------- */

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
    color: white;
    padding-top: 2em;
}
footer ul{
    padding: 0px;
  
}

footer ul li{
    display:  inline-block;
   align-items: center;
  padding: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .5em;
  margin-right: .5em;
}




.contact {
    padding-bottom: 1.2em;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.5em;
}

.connect{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-top: 2em;
}

.titleContact h1, .maps h1{
    text-align: center;
    color: #56819E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.titleContact p, .maps p{
    text-align: center;
}

.maps h1, .maps p{
    margin-right: 10%;
}

.maps h1{
    padding-top: 0.75em;
}

.maps hr{
    margin-right:10%;
}

.greeting{
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  margin-top: 4em;
} 

.greeting h1{
    color: #56819E;
}

.greeting p{
    margin-bottom: 2em;
}

#btnSubmit{
    margin-bottom: 2em;
}

.clock{
    text-align: center;
}

.countDown{
    color: #1f1e1e;
    font-weight: 100;
    margin: 20px 0px 20px;
}
  
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #2f2e2e;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #4f4e4e;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/* .editProfileForm{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2em;
    float: left;
}

aside{
    float: left;
    width: 25%;
    margin-top: 2em;
}

.roundImage{
    border-radius: 50%;
} */


/* .firstLabel input[type=text]{
    width: 5em;
}  */

/* ---------------------Side Nvigation Menu bar for Mobile --------------------------- */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay .. check js*/   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 35%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-left: 1em;
   
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: .3em;
    text-decoration: none;
    font-size: 1.7em;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
  font-size: 60px;
  }



  /* --------------------------------------------------------------------- */

/*navbar container*/
.navbar {
    
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Links inside the navbar*/
.navbar a {
    float: left;
    font-size: 1em;
    margin: .3em;
    color: #000;
    text-align: center;
    padding: .4em;
    text-decoration: none;
    
}

/*The dropdown container*/
.dropdown {
    float: left;
    overflow: hidden;
}

/*Dropdown button*/
.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: #000;
    padding: .4em .2em;
    background-color: inherit;
    font-family: inherit;  
    margin: .3em;     
}

/*Hover background color*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #999;
}

/*Dropdown content (hidden by default)*/
.dropdown-content_log {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 5em;
    box-shadow: 0em 0.1em 0.2em 0em rgba(0,0,0,0.2);
    z-index: 1;    
}

/*Links inside the dropdown*/
.dropdown-content_log a {
    float: none;
    color: #000;
    padding: 0.1em 0.2em;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Background color for dropdown links on hover*/
.dropdown-content_log a:hover {
    background-color: #ddd;
}

/*Show the dropdown menu on hover*/
.dropdown:hover .dropdown-content_log {
    display: block;
}

/*******************************************************/

/*The dropdown container*/
.dropdown_2 {
    float: left;
    overflow: hidden;    
}

/*Dropdown button*/
.dropdown_2 .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: #000;
    padding: .4em .2em;
    background-color: inherit;
    font-family: inherit;   
    margin: .3em;
}   

/*Hover background color*/
.navbar a:hover, .dropdown_2:hover .dropbtn {
    background-color: #999;
}

/*Dropdown content (hidden by default)*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 5em;
    box-shadow: 0em 0.1em 0.2em 0em rgba(0,0,0,0.2);
    z-index: 1;    
}

/*Links inside the dropdown*/
.dropdown-content a {
    float: none;
    color: #000;
    padding: 0.1em 0.2em;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Background color for dropdown links on hover*/
.dropdown-content a:hover {
    background-color: #ddd;
}

/*Show the dropdown menu on hover*/
.dropdown_2:hover .dropdown-content {
    display: block;
}
/* -------------------------------------------Registration - Login Form--------------------------------------------------- */
/* Headine Style*/
form h1{
    text-align: center;
    color: #56819E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

/* Labels inside form */

form label{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

/* Input text login and registration */
.inputText{
    width: 100%;
    padding: 0.8em 0.8em;
    margin: 0.8em 0;
    display: inline-block;
    border: 0.1em solid #000;
    box-sizing: border-box;
  }

/* Sumbmit Buttons */
button[type=submit]{
    background-color: black;
    color: white;
    padding: 5px 26px 5px 26px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
/* Sumbmit Buttons */
button[type=reset]{
    background-color: red;
    color: white;
    padding: 5px 26px 5px 26px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Upload Image */


/* -------------------about us----------------------------------- */

.about_banner img{
width: 100%;
}
.about_banner-text{
    position: absolute;
    right: 10%;
    top: 70%;
 
    display: flex;
    flex-direction: column;
}

.about_banner-text strong{
    font-size: 6em;
    font-weight: 500;
   
   
}
#about-heading{
    background: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-us-div{
   padding: 1em;
        /* -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 20em;
        -moz-column-width: 20em;
        column-width: 20em; */
    text-align: justify;
    text-justify: inter-word;
    padding-left: 3.5em;
    padding-right: 3.5em;
}


/* ---------------------------Home- page --------------------------------- */
/* Slider */

  
.full-slider-box{
    width:100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.f-slide-1{
    background-image: url(../images/Slider_01.jpg);
}
.f-slide-2{
    background-image: url(../images/Slider_02.jpg);
}
.f-slide-3{
    background-image: url(../images/Slider_03.jpg);
}
.slider-text-container{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.f-slider-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}
.f-slider-btn{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
.f-slider-text strong font{
    color: #0b9d8a;
}
/* Sale */
.sale{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  
}
.sale-box{
    width:280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}
.sale-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}
.sale-text{
    position: absolute;
    
    transform: translate(0%,-200%);
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.3);
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
}
.sale-box a{
    color: #1b1919;
}
.sale-text strong{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;
}



.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-heading h2{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.feature-box{
    width:155px;
    height: 160px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}
.feature-box a img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item span{
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}

/* ---------------------------Forgot Password Form ----------------------------------*/

#randomPassword{
    color: green;
    font-size: 1.4em;
    font-weight: bold;
   
}



/* ----------------------------FAQ------------------------------------------- */


#faqDiv{
    padding: 3em;
}

#faqDiv summary{
    
    font-size: 1em;

}
#faqDiv :p{ 
    font-size: .5em;
    
}
.faq_que{
    font-size: 1em;
    font-weight: 400;

}
.faq__content{
font-size: .9em;
margin-left: 2em;
margin-top: 1em;
}

/* ---------------------------Store Policy------------------*/


.policy-points{
    font-size: .9em;
   margin: 0px;
   padding: 0px;
   margin-left: 1.5em;
}

.policy_para{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    margin-left: 1em;
    text-align: justify;
   
}
.policy_inner_para{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    margin-left: 1em;
    text-align: justify;
    text-indent: 40px;
}
